<!DOCTYPEhtml>
<html>
    <head>
        <link rel="stylesheet" bootstrap-icons/font/bootstrap-icons-css/>
        <title>
            
        </title>
        <style>

    .regi{
                display:flex;
                justify-content: centre;
                height:50px;
                padding:6rem;
            }
h1{
    text-align:centre;
}
input{
    width:100%;
}
button{
    width:100%;
    background-color: blue;
    color:white;
    border: none;
}
form{
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px;
}
</style>   
    </head>
    <body>
        <div class="rlc"></div>
        <h1>Login to 2Drops</h1>
        <div clclass="regi"></div>
            <form action="/login" method="post">
                <input type="text" placeholder="username" name="username">
                <input type="password" name="password" placeholder="Password">
                <hr>
                <input type="submit">login</input>
                <p>forgot password?<br>create new account</p>
                
            </form>
            <div>
<a href="logout">logout</a>
            </div>
    
        
    </body>
</html>