<!DOCTYPEhtml>
<html>
    <head>
        <title>2Drops</title>
        <style>

.regi{
    display: flex;
    justify-content:centre;
    height:50px;
    padding:6rem ;
}
h2{
    text-align: centre;
}
input{width:25%;
    background-color: bisque;
    color:white;
    border:black;
}
button{
    width:20%;
    background-color: teal;
    color:white;
    border:black;
}
form{
    padding: 5rem
    border-radius:10pxbox-shadow:opx 1px 2px 0px;
}

        </style>
        <body>
           <h2>CAMAREDERIE SAFETY</h2> 
           <hr>
           <br>
           <input type= "text" placeholder="Add event">
           <br>
           <input type="date" placeholder>
           <li>Geo location</li>
           <li>Set reminder</li>
           <br>
           <br>
           <input type="text"placeholder= "People coming to the event">
           <li>add email</li>
           <p>Minimun of 12 people</p>
           <br>
           <button>Departure</button>
           <li>Geo location</li>
           <li>time</li>
           <br>
           <button>Arrived</button>
           <li>Geo location</li>
           <li>time</li>
           <hr>

        
        </body>
    </head>
</html>